@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.ec #header, .ec #body, .ec #footer, #waitingforserverresponse {
    display: none;
}

html, body {
    height: 100%;
    background-color: black !important;
    color: white !important;
    margin: 0;
    padding: 0;
}

#container {
    margin: 100px auto !important;
}

th {
    text-align: center !important;
}

table {
    font-size: 15px !important;
}

td, th {
    padding: 12px !important;
}

* {
    font-family: 'Noto Sans KR', sans-serif;
}

.nav-link {
    --bs-nav-link-font-size: medium !important;
    padding: 10px 15px !important;
}
.nav-pills {
    --bs-nav-pills-border-radius: 0 !important;
}
.nav-pills a {
    --bs-nav-link-font-size: 13px !important;
}

input {
    border-radius: 0 !important;
}