* {
    --bs-table-color: white !important;
    --bs-table-bg: transparent !important;
}

.navbar-wrapper {
    background-color: black;
    border-bottom: 1px solid #43494c;
}


table a {
   color: white !important;
   text-decoration: none !important;  
}
a, a:focus, a:hover, a:active {
   outline: 0 !important;
}
a:focus {
  text-decoration: none !important;
}
table a:hover {
   color: white !important;
   text-decoration: underline !important;
}

a.problem-ac {
    color: green !important;
    font-weight: bold !important;
}
a.problem-ac:hover {
   color: green !important;
   text-decoration: underline !important;
}
a.problem-wa {
    color: red !important;
}
a.problem-wa:hover {
   color: red !important;
   text-decoration: underline !important;
}