html {
  --color-bg-root: #222222;
  --color-bg-body: #111;
  --color-bg-navbar: #242424;
  --color-bg-main: #222;
  --color-bg-dropdown: #222;
  --color-bg-dialog: #333;
  --color-bg-focus: #333;
  --color-bg-input: #111;
  --color-bg-badge: #444;
  --color-bg-table: #2d2f34;
  --color-bg-link-card: #333;
  --color-bg-link-cark-focus: #2a2a2a;
  --color-bg-link-card-thumbnail: #444;
  --color-bg-text-highlight: yellow;
  --color-bg-primary: #333399;
  --color-bg-best: #b83014;
  --color-bg-badge-deal-live: #eb4763;
  --color-bg-arcacon-status: #FC6779;
  --color-bg-arcacon-hover: #222222;
  --color-bg-footer: #222222;
  --color-bd-footer: #43494c;
  --color-bd-navbar: #43494c;
  --color-bd-outer: #43494c;
  --color-bd-inner: #5a5a64;
  --color-bd-btn-hover: #3f58be;
  --color-bd-opposite: #fff;
  --color-bd-table: #4d4d4d;
  --color-bd-blackonly-outer: rgba(0, 0, 0, 0.2);
  --color-bd-btn: #BBBBBB;
  --color-bd-arcacon-hover: #666666;
  --color-text: #d3d3d3;
  --color-text-muted: #6d6d6d;
  --color-text-opposite: #000;
  --color-link: #ec9f19;
  --color-link-broken: #dc4343;
  --color-article-visited: #909090;
  --color-arcacon-primary: #8F96F0;
  --color-bd-input: #3a4043;
  --color-primary-theme: #3d59bc;
  --color-bg-highlight: #534512;
  --color-bg-highlight-user: rgba(145, 251, 65, 0.3490196078);
  --color-board-title-text: #d3d3d3;
  --color-board-category: #42464f;
  --color-board-category-text: #dddddd;
  --color-board-hybrid-split-line: #444;
  --color-board-hybrid-badge-text-color: #ec9f25;
  --color-board-hybrid-title-text-color: #d3d3d3;
  --color-user-icon-fixed: #777;
  --color-user-icon-public: #777;
  --color-settings-point-bg: #29a1b7;
  --color-settings-point-text: #eeeeee;
  --color-checkbox-label-text: #dddddd;
  --color-checkbox-label-border: #555555;
  --color-checkbox-label-focus: #29a1b7;
  --color-channel-shortcut-icon-background: #666;
  --color-channel-shortcut-add-icon-background: #356793;
  --color-point-color: #d6d7d9;
  --color-wiki-point-color: #666c75;
  --color-notification: #abd152;
  --color-notification-tint: #c3f69d;
  --color-tile-pattern-0: #2d3034;
  --color-tile-pattern-1: #47439d;
  --color-tile-pattern-2: #5c57e5;
  --color-tile-pattern-3: #8080ff;
  --color-tile-pattern-4: #bfcbff;
  --color-tile-pattern-5: #fcfcff;
  --color-modal-bg: #25252b;
  --color-modal-bd: transparent;
  --color-modal-text-content: #9298AC;
  --color-modal-bg-default: #292D39;
  --color-modal-bd-default: #DFE3EA;
  --color-modal-text-default: #FFFFFF;
  --color-modal-bg-default__hover: #DFE3EA;
  --color-modal-bd-default__hover: #B6BACB;
  --color-modal-text-default__hover: #000000;
  --color-modal-bg-default__pressed: #3F434E;
  --color-modal-bd-default__pressed: #3F434E;
  --color-modal-text-default__pressed: #FFFFFF;
  --color-modal-bg-default__focus: #DFE3EA;
  --color-modal-bd-default__focus: #B6BACB;
  --color-modal-text-default__focus: #000000;
  --color-modal-outline-default__focus: #B6BACB;
  --color-modal-bg-default__disabled: #292D39;
  --color-modal-bd-default__disabled: #222222;
  --color-modal-text-default__disabled: #222222;
  --color-modal-bg-primary: #c9a9ff;
  --color-modal-bd-primary: #c9a9ff;
  --color-modal-text-primary: #000000;
  --color-modal-bg-primary__hover: #e4d4ff;
  --color-modal-bd-primary__hover: #e4d4ff;
  --color-modal-text-primary__hover: #000000;
  --color-modal-bg-primary__pressed: #e4d4ff;
  --color-modal-bd-primary__pressed: #4f16cc;
  --color-modal-text-primary__pressed: #000000;
  --color-modal-bg-primary__focus: #e4d4ff;
  --color-modal-bd-primary__focus: #e4d4ff;
  --color-modal-text-primary__focus: #000000;
  --color-modal-outline-primary__focus: #e4d4ff;
  --color-modal-bg-primary__disabled: #222222;
  --color-modal-bd-primary__disabled: #222222;
  --color-modal-text-primary__disabled: #333333;
  --color-modal-bg-secondary: #8F96F0;
  --color-modal-bd-secondary: #8F96F0;
  --color-modal-text-secondary: #000000;
  --color-modal-bg-secondary__hover: #ABB0F2;
  --color-modal-bd-secondary__hover: #ABB0F2;
  --color-modal-text-secondary__hover: #000000;
  --color-modal-bg-secondary__pressed: #ABB0F2;
  --color-modal-bd-secondary__pressed: #2B0FA0;
  --color-modal-text-secondary__pressed: #000000;
  --color-modal-bg-secondary__focus: #ABB0F2;
  --color-modal-bd-secondary__focus: #ABB0F2;
  --color-modal-text-secondary__focus: #000000;
  --color-modal-outline-secondary__focus: #ABB0F2;
  --color-modal-bg-secondary__disabled: #222222;
  --color-modal-bd-secondary__disabled: #222222;
  --color-modal-text-secondary__disabled: #333333;
  --color-modal-bg-danger: #E0061F;
  --color-modal-bd-danger: #E0061F;
  --color-modal-text-danger: #000000;
  --color-modal-bg-danger__hover: #F1233B;
  --color-modal-bd-danger__hover: #F1233B;
  --color-modal-text-danger__hover: #000000;
  --color-modal-bg-danger__pressed: #F1233B;
  --color-modal-bd-danger__pressed: #890010;
  --color-modal-text-danger__pressed: #000000;
  --color-modal-bg-danger__focus: #F1233B;
  --color-modal-bd-danger__focus: #F1233B;
  --color-modal-text-danger__focus: #000000;
  --color-modal-outline-danger__focus: #F1233B;
  --color-modal-bg-danger__disabled: #222222;
  --color-modal-bd-danger__disabled: #222222;
  --color-modal-text-danger__disabled: #333333;
  --color-modal-bg-warning: #EBB418;
  --color-modal-bd-warning: #EBB418;
  --color-modal-text-warning: #000000;
  --color-modal-bg-warning__hover: #F4C234;
  --color-modal-bd-warning__hover: #F4C234;
  --color-modal-text-warning__hover: #000000;
  --color-modal-bg-warning__pressed: #F4C234;
  --color-modal-bd-warning__pressed: #B78700;
  --color-modal-text-warning__pressed: #000000;
  --color-modal-bg-warning__focus: #F4C234;
  --color-modal-bd-warning__focus: #F4C234;
  --color-modal-text-warning__focus: #000000;
  --color-modal-outline-warning__focus: #F4C234;
  --color-modal-bg-warning__disabled: #222222;
  --color-modal-bd-warning__disabled: #222222;
  --color-modal-text-warning__disabled: #333333;
  --color-modal-bg-opposite: #DFE3EA;
  --color-modal-bd-opposite: #DFE3EA;
  --color-modal-text-opposite: #000000;
  --color-modal-bg-opposite__hover: #F5F7FA;
  --color-modal-bd-opposite__hover: #F5F7FA;
  --color-modal-text-opposite__hover: #000000;
  --color-modal-bg-opposite__pressed: #F5F7FA;
  --color-modal-bd-opposite__pressed: #555965;
  --color-modal-text-opposite__pressed: #000000;
  --color-modal-bg-opposite__focus: #F5F7FA;
  --color-modal-bd-opposite__focus: #F5F7FA;
  --color-modal-text-opposite__focus: #000000;
  --color-modal-outline-opposite__focus: #F5F7FA;
  --color-modal-bg-opposite__disabled: #222222;
  --color-modal-bd-opposite__disabled: #222222;
  --color-modal-text-opposite__disabled: #333333;
  --color-model-text-link: #ae7eff;
  --color-bg-login: #333333;
  --color-bg-login-window: #3F434E;
  --color-text-login-heading: #DFE3EA;
  --color-text-login-label: #B6BACB;
  --color-bd-login-input: #3F434E;
  --color-bd-login-input__focus: #ABB0F2;
  --color-bg-login-input: #000000;
  --color-text-login-link: #ABB0F2;
  --color-bg-login-btn: #ABB0F2;
  --color-bg-login-btn__hover: #C9D1FD;
  --color-bg-login-2fa-btn: #c9a9ff;
  --color-bg-login-2fa-btn__hover: #e4d4ff;
  --color-bg-login-qrcode: #ABB0F2;
  --color-bd-login-qrcode: transparent;
  --color-bg-login-username-block: #101115;
  --color-bg-login-username-block__hover: #292D39;
  --color-text-login-username-block-arrow: #DFE3EA;
  --color-text-login-otp: #B6BACB;
  --color-text-login-submitBtn: #000000;
  --color-bd-login-u2f: #555965;
  --color-relay-card: #9491D9;
  --color-bg-relay-label: #F1233B;
  --color-bg-relay-list-head: #333333;
  --color-bg-relay-write: #DFE3EA;
  --color-bg-relay-chat: #222222;
  --color-text-relay-count: #FF98A4;
  --color-bg-conpicker-meta: #333333;
  --color-bg-conpicker-content: #222222;
  --color-bg-conpicker-closebtn: #fff;
  --color-bg-conpicker-package-thumbnail__hover: #101115;
  --color-bg-conpicker-package-thumbnail__hover_info: #000000;
  --color-bd-conpicker-package-thumbnail__hover_info: #292D39;
  --color-bg-conpicker-package-thumbnail__selected: #555965;
  --color-bg-conpicker-con-thumbnail-1: #666666;
  --color-bg-conpicker-con-thumbnail-2: #454545;
  --color-bg-conpicker-con-thumbnail-3: #333333;
  --color-bd-conpicker-outer: #555965;
  --color-bd-conpicker-inner: #555965;
  --color-bg-conpicker-retrybtn: #555965;
}